/* ===========================
   Admin Dashboard
=========================== */

.admin-page{
    padding:2rem;
}

.admin-card{
    background:white;
    border-radius:12px;
    box-shadow:var(--shadow-card);
}

.admin-section{
    margin-bottom:2rem;
}

.admin-title{
    color:var(--color-primary-navy);
}

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-thumb{
    background:#c9c9c9;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{
    background:#9f9f9f;
}

::-webkit-scrollbar-track{
    background:transparent;
}